<h1 style="color:Brown"> Lists </h1>

- Lists are an orderd sequence of mixed data.
- Lists are written as comma separated elements within square brackets

In [1]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [2]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [3]:
L[-3]

'Biology'

In [4]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [5]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [6]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [7]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [8]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [9]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [10]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [11]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [12]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [13]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [14]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [15]:
len(set_l)

5

In [16]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [17]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [18]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [19]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [20]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [21]:
print(A & B) # Intersection

{2, 4}

In [ ]:
print(A - B) # Difference

In [22]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [23]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

'INR'

In [24]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}

In [25]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}

In [26]:
# Deleting a key value pair

del d["France"]

d

{'India': 'Rs', 'USA': 'USD', 'Japan': 'Yen'}

In [27]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [28]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [29]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [30]:
# Updat() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}